
.Select-button{
  width: 30%;
  margin: 1%;
}
.weatherBox{
  display: flex;
  justify-content: space-between;
  background-color: rgb(228, 222, 222);
  margin-top: 3%;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
  box-shadow: 1px 1px 15px 1px grey;
}

